@use "../../_styles/core/mixins" as *;
@use "../../_styles/common/var" as *;
@use "../../_styles/core/css-var" as *;
@use "../../_styles/core/function" as *;
@use "../../_styles/core/config" as *;

@include b(popover) {
  --box-shadow-secondary: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);

  &.#{$namespace}-popper {
    border-radius: 0px;
  }
  .#{$namespace}-popper__content {
    border-radius: 10px;
    background-clip: padding-box;
    background: #fff;
    box-shadow: var(--box-shadow-secondary);
    padding: 12px;
    font-family: getCssVar("font-family");
  }

  .#{$namespace}-popper__arrow::before {
    border: 1px solid #e4e7ed;
    background: #fff;
  }

  @include e(title) {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
  }

  @include e(inner-content) {
    color: rgba(0, 0, 0, 0.88);
  }
}
