# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist
./.vitepress/camelia-docs/**

./*.yaml

yarn-error.log
yarn-lock.log
yarn.lock

.docs/.dumi/tmp
.docs/.dumi/tmp-test
.docs/.dumi/tmp-production
.docs/docs-dist
