@use "../../_styles/core/mixins" as *;
@use "../../_styles/common/var" as *;
@use "../../_styles/core/css-var" as *;
@use "../../_styles/core/function" as *;
@use "../../_styles/core/config" as *;

@use "group" as *;

@include b(checkbox) {
  @include set-component-css-var("checkbox", $checkbox);
}

@include b(checkbox) {
  position: relative;
  cursor: pointer;
  height: 32px;
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-right: 30px;
  font-size: 14px;
  color: getCssVar("checkbox-text-color");

  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    position: relative;
    border-radius: getCssVar("checkbox-border-radius");

    @include when(checked) {
      .#{$namespace}-checkbox__inner {
        background-color: getCssVar("checkbox-checked-bg-color");
        border-color: getCssVar("checkbox-checked-input-border-color");
        &:after {
          transform: rotate(45deg) scaleY(1) translate(-50%, -50%);
          border-color: getCssVar("checkbox-checked-icon-color");
        }
      }
    }
    // 禁用时
    @include when(disabled) {
      .#{$namespace}-checkbox__inner {
        background-color: getCssVar("checkbox-disabled-input-fill");
        border-color: getCssVar("checkbox-disabled-border-color");
        cursor: not-allowed;
      }
      // 禁止状态下有选中了
      &.is-checked {
        .#{$namespace}-checkbox__inner {
          background-color: getCssVar("checkbox-disabled-input-fill");
          border-color: getCssVar("checkbox-disabled-border-color");
          &:after {
            border-color: getCssVar("checkbox-disabled-checked-icon-color");
          }
        }
      }
    }

    // 半选状态时
    @include when(indeterminate) {
      .#{$namespace}-checkbox__inner {
        background-color: getCssVar("checkbox-checked-bg-color");
        border-color: getCssVar("checkbox-checked-input-border-color");

        &::before {
          content: "";
          position: absolute;
          display: block;
          background-color: getCssVar("checkbox-checked-icon-color");
          height: 3px;
          transform: scale(0.68);
          left: 0;
          right: 0;
          top: 5px;
        }
      }
    }
  }

  @include e(inner) {
    display: inline-block;
    position: relative;
    border: getCssVar("checkbox-input-border");
    box-sizing: border-box;
    width: getCssVar("checkbox-input-width");
    height: getCssVar("checkbox-input-height");
    background-color: getCssVar("checkbox-bg-color");
    border-radius: inherit;
    z-index: 1;
    transition:
      border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
      background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
      outline 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
    &:after {
      box-sizing: border-box;
      content: "";
      border: 2px solid transparent;
      border-left: 0;
      border-top: 0;
      height: 9px;
      inset-inline-start: 21.5%;
      position: absolute;
      top: 50%;
      transform: rotate(45deg) scaleY(0);
      width: 5.7px;
      transition: transform 0.15s ease-in 0.05s;
      transform-origin: center;
    }

    &:hover {
      border-color: getCssVar("checkbox-input-border-color-hover");
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    left: 10px;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }

  @include e(label) {
    display: inline-block;
    padding-left: 8px;
    line-height: 1;
  }

  // 禁用时
  @include when(disabled) {
    cursor: not-allowed;
    .#{$namespace}-checkbox__label {
      color: getCssVar("text-color-disabled");
      cursor: not-allowed;
    }
  }

  // 波浪效果
  @include b(base-wave) {
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;

    @keyframes checkbox-wave-spread {
      0% {
        transform: scale(1);
        opacity: 0.5;
      }
      100% {
        transform: scale(1.6);
        opacity: 0;
      }
    }

    @include when(active) {
      border: 2px solid getCssVar("checkbox-ripple-color");
      animation-name: checkbox-wave-spread;
    }
  }
}
