.site-t2vb78 .icon-item {
  :hover {
    background-color: #2b2b2c;
  }
}
.demo-icon {
  &-item {
    margin-top: 24px;
    &:first-child {
      margin-top: 0;
    }
  }
  &-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
  &-list {
    overflow: hidden;
    list-style: none;
    padding: 0 !important;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .icon-item {
      text-align: center;
      height: 90px;
      font-size: 13px;
      margin-top: 0 !important;
      &:hover {
        background-color: #f2f6fc;
        .fb-icon {
          color: var(--brand-color-light);
        }
        color: var(--brand-color-light);
      }

      .demo-svg-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;

        .icon-name {
          margin-top: 8px;
        }
      }
    }
  }
}

// input 示例页面的样式
.custom-input-wrap {
  display: flex;
  .fb-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .suffix-wrap {
    height: auto;
    width: 50px;
    background-color: #f5f7fa;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 0 0 var(--fb-color-info-light-3) inset, 0 -1px 0 0 var(--fb-color-info-light-3) inset,
      -1px 0 0 0 var(--fb-color-info-light-3) inset;
  }
}
