@use "../../_styles/core/mixins" as *;
@use "../../_styles/core/config" as *;
@use "../../_styles/core/function" as *;

@include b(prompt) {
  .#{$namespace}-dialog__header {
    border-radius: 12px 12px 0px 0px;
    background: linear-gradient(180deg, getCssVar("color-primary-light-9") 0%, #fff 100%);
  }
  .#{$namespace}-dialog__body {
    padding: 8px 20px;
  }
  .cc-header {
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 30px;
    .chat-icon {
      width: 24px;
      height: 24px;
      margin-top: 3px;
      font-size: 24px;
      color: getCssVar("color-primary");
    }
    .title {
      color: rgba(0, 0, 0, 0.85);
      font-size: 20px;
      padding-left: 8px;
      font-weight: 600;
    }
  }
  .dec {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 18px;
  }
  .cc-footer {
    display: flex;
    justify-content: flex-end;
  }
}
