@use "../../_styles/core/mixins" as *;
@use "../../_styles/core/config" as *;
@use "../../_styles/common/util" as *;

@include b(image) {
  position: relative;
  overflow: hidden;
  &:hover {
    .#{$namespace}-image__preview {
      display: block;
    }
  }

  @include e(inner) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include e(placeholder) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eef0f4;
  }

  @include e(error) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: #f5f7fa;
    color: getCssVar("text-color-placeholder");
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }

  @include e(preview) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    font-size: 14px;
    color: #fff;
    .inner-wrap {
      font-size: 14px;
      color: #fff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: inherit;
      height: inherit;
      @include noSelect();
      cursor: pointer;
      .icon-cansee {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: -2px;
        margin-right: 4px;
      }
    }
  }
}
