// https://d.umijs.org/guide/project-structure#%E5%85%A8%E5%B1%80%E6%A0%B7%E5%BC%8F

// 引入文档项目的样式
@forward "../style/index.scss";

// docs页面 全局变量
$docs-theme: #22cccc;
$docs-bg-color: #e9fafa;
$docs-coolr-dark: var(--cami-color-primary-dark-2);
$text-color-regular: #606266;
/**
  不需要关心下面的样式，它只是一个初始化文档样式

 以下是：
 修改，覆盖样式

 以下是：
 修改，覆盖样式

*/
// 首页title标题不可以复制
.site-182hoah b {
  user-select: none;
  // background-image: radial-gradient(at 80% 20%, $docs-theme 0%, #13c2c2 80%, #722ed1 130) !important;
  background-image: radial-gradient(at 80% 20%, $docs-theme 0%, #13c2c2 80%, #722ed1 130%) !important;
}
.site-1ibf0j8 {
  max-width: 500px;
  font-size: 16px !important;
  font-weight: normal !important;
}

.site-features-cover {
  background: linear-gradient(135deg, $docs-theme, $docs-bg-color) !important;
}
.site-zd47tv {
  background: linear-gradient(90deg, $docs-theme 0%, #5dbdb5 100%) !important;
}

// 修改头部标题颜色
.site-1rpkcxp {
  color: $docs-theme !important;
  &:hover {
    color: inherit;
  }
}
.site-14fkerq {
  backdrop-filter: blur(13px) !important;
}
// 修改整体页面样式
.site-149wa23,
.site-1qh9pb2 {
  background-color: #fff !important;
}
.site-bgbx00 {
  box-shadow: none !important;
}

.site-1drp4ad {
  margin: 0 !important;
}
.site-bgbx00,
.site-z95k7h {
  padding: 0 !important;
  background-color: transparent !important;
}

.site-ar97vv,
.site-20y8zi {
  top: 90px !important;
  max-height: calc(100vh - 90px) !important;
}

.site-149wa23 .site-u4eos9,
.site-1qh9pb2 .site-u4eos9 {
  background-color: #fff !important;
}
// 移动头部菜单距离
.css-o3n4io {
  margin-left: 92px !important;
}

// 修改顶部导航栏 样式
// 隐藏第一个节点（首页）
.site-tabs-nav-wrap .site-tabs-nav-list .site-tabs-tab:first-child {
  display: none !important;
}
.site-1q53kuy .site-tabs-tab + .site-tabs-tab:nth-child(2) {
  margin: 16px 4px 16px 0 !important;
  padding: 6px 12px !important;
}
.site-tabs-nav::before {
  border-bottom: none !important;
}
.site-tabs-nav .site-tabs-nav-operations {
  display: none !important;
}
.site-tabs .site-tabs-ink-bar {
  background: $docs-theme !important;
}

.site-tabs .site-tabs-tab.site-tabs-tab-active .site-tabs-tab-btn {
  color: $docs-theme !important;
}
.site-tabs-tab-btn {
  font-size: 16px !important;
}

// 修改左侧菜单栏样式
.site-ar97vv > dl > dd > a {
  padding: 8px 12px !important;
  font-size: 14px !important;
  color: $text-color-regular !important;
  font-weight: 500 !important;
}
.site-ar97vv > dl > dd > a.active {
  color: $docs-theme !important;
  background-color: $docs-bg-color !important;
  font-weight: 500 !important;
}
.site-ar97vv > dl > dd > a.active:hover {
  background: $docs-bg-color !important;
}
.site-ar97vv > dl > dt {
  color: #303133 !important;
  margin-bottom: 12px !important;
  line-height: 18px !important;
  font-weight: 700 !important;
}
// 暗夜模式下
.site-20y8zi > dl > dt {
  margin-bottom: 12px !important;
  font-weight: 700 !important;
}
// 去掉菜单的分割线
.site-ar97vv > dl + dl,
.site-20y8zi > dl + dl {
  margin-top: 0 !important;
  border-top: none !important;
}

// 修改右侧菜单样式
.site-anchor-wrapper .site-anchor .site-anchor-link-active > .site-anchor-link-title {
  color: $docs-theme !important;
}
.site-anchor .site-anchor-ink {
  background-color: $docs-theme !important;
}
.site-anchor-link-title:hover {
  color: $docs-theme !important;
}

// 修改markdown 表格样式
.site-bgbx00 .markdown td {
  text-align: center !important;
}
.site-bgbx00 .markdown h1,
.site-bgbx00 .markdown h2,
.site-bgbx00 .markdown h3 {
  color: $text-color-regular !important;
}
.css-131xuf9 {
  align-items: flex-start !important;
}
.dumi-default-previewer-demo {
  padding: 24px !important;
}
// 影藏code标签的默认提示
.dumi-default-previewer-desc {
  display: none !important;
}
// 表格的第三列全部改变字体颜色
.site-bgbx00 .markdown td:nth-child(3) {
  color: $docs-coolr-dark !important;
}

.markdown > :not([data-code-type="highlighter"]) code {
  color: $docs-coolr-dark !important;
  background: $docs-bg-color !important;
  display: inline-flex;
  height: 18px;
  padding-top: 0 !important;
  align-items: center;
}

// 更改文档文本为主题色
.site-bgbx00 .markdown a,
.site-u4eos9.rc-footer a:hover,
.site-17jzn8v .css-7k1dqj {
  color: $docs-theme !important;
}

// 修改md -- info提示时的字体颜色
.site-alert-info .site-alert-icon {
  color: $docs-theme !important;
}
// 修改md -- info提示节点的背景色
.site-r0dnvl .site-alert-info {
  background: $docs-bg-color !important;
}

// 头部按钮颜色更改
:where(.css-dev-only-do-not-override-e7e9e7).site-tabs .site-tabs-tab-btn:active,
:where(.css-dev-only-do-not-override-e7e9e7) a:hover {
  color: $docs-theme !important;
}

// 修改头部右边功能样式
.site-btn-icon-only:hover,
.native-select-button:hover {
  color: $docs-theme !important;
  border-color: $docs-theme !important;
}
.native-select {
  user-select: none !important;
}
.native-select-button:focus-visible {
  border-color: $docs-theme !important;
}
.native-select-item-selected {
  color: $docs-theme !important;
  background: $docs-bg-color !important;
  font-weight: 400 !important;
}
.native-select-item {
  font-size: 14px !important;
  padding: 8px 10px !important;
  color: rgba(42, 46, 54, 0.88);
  background: transparent;
  margin-bottom: 5px !important;
  &:last-child {
    margin-bottom: 0 !important;
  }
}
