@use "../core/config" as *;

// https://reactcommunity.org/react-transition-group/css-transition

/*
* 中间放大 -- 用于tooltip
*/
.#{$namespace}-zoom-in-top-exit-active {
  animation-name: #{$namespace}-zoom-in-top-out;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transform-origin: center center;
  &[data-popper-placement^="top"] {
    transform-origin: center center;
  }
}
.#{$namespace}-zoom-in-top-enter-active {
  animation-name: #{$namespace}-zoom-in-top-in;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center center;
  &[data-popper-placement^="top"] {
    transform-origin: center center;
  }
}
@keyframes #{$namespace}-zoom-in-top-in {
  0% {
    transform: scaleY(0.8);
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes #{$namespace}-zoom-in-top-out {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }

  100% {
    transform: scaleY(0.8);
    opacity: 0;
  }
}

/*
* 淡入按比例放大 --- select
*/
.#{$namespace}-fade-in-scale-up-exit-active {
  transform-origin: left top;
  transition:
    opacity 0.2s cubic-bezier(0.4, 0, 1, 1),
    transform 0.2s cubic-bezier(0.4, 0, 1, 1);
  &[data-popper-placement^="top"] {
    transform-origin: left bottom;
  }
}
.#{$namespace}-fade-in-scale-up-enter-active {
  transform-origin: left top;
  transition:
    opacity 0.2s cubic-bezier(0, 0, 0.2, 1),
    transform 0.2s cubic-bezier(0, 0, 0.2, 1);
  &[data-popper-placement^="top"] {
    transform-origin: left bottom;
  }
}
.#{$namespace}-fade-in-scale-up-enter,
.#{$namespace}-fade-in-scale-up-exit-done {
  opacity: 0;
  transform: scale(0.9);
}
.#{$namespace}-fade-in-scale-up-exit,
.#{$namespace}-fade-in-scale-up-enter-done {
  opacity: 1;
  transform: scale(1);
}

/** 折叠面板 */
.#{$namespace}-collapse-transition-exit-active,
.#{$namespace}-collapse-transition-enter-active {
  transition:
    0.3s max-height ease-in-out,
    0.3s padding-top ease-in-out,
    0.3s padding-bottom ease-in-out;
}
