@use "../core/config" as *;
@use "../core/function" as *;

// https://reactcommunity.org/react-transition-group/css-transition
@mixin zoomBigOutFn($duration) {
  transform: scale(0);
  opacity: 0;
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-timing-function: getCssVar("motion-ease-out-circ");
  transform-origin: 50% 50%;
}
@mixin zoomBigInOutFn($duration) {
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-timing-function: getCssVar("motion-ease-in-out-circ");
  transform-origin: 50% 50%;
}

/*
* 中间快速放大 -- 用于tooltip
*/
.#{$namespace}-zoom-big-fast-enter {
  @include zoomBigOutFn(0.1s);
}
.#{$namespace}-zoom-big-fast-exit {
  @include zoomBigInOutFn(0.1s);
}
.#{$namespace}-zoom-big-fast-enter-active {
  animation-name: #{$namespace}-zoom-big-in;
  animation-play-state: running;
}
.#{$namespace}-zoom-big-fast-exit-active {
  animation-name: #{$namespace}-zoom-big-out;
  animation-play-state: running;
}

/*
* 中间放大 -- 用于Popover
*/
.#{$namespace}-zoom-big-enter {
  @include zoomBigOutFn(0.2s);
}
.#{$namespace}-zoom-big-exit {
  @include zoomBigInOutFn(0.21s);
}
.#{$namespace}-zoom-big-enter-active {
  animation-name: #{$namespace}-zoom-big-in;
  animation-play-state: running;
}
.#{$namespace}-zoom-big-exit-active {
  animation-name: #{$namespace}-zoom-big-out;
  animation-play-state: running;
}

@keyframes #{$namespace}-zoom-big-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes #{$namespace}-zoom-big-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

/*
* 淡入按比例放大 --- select
*/
.#{$namespace}-fade-in-scale-up-exit-active {
  transform-origin: left top;
  transition:
    opacity 0.2s cubic-bezier(0.4, 0, 1, 1),
    transform 0.2s cubic-bezier(0.4, 0, 1, 1);
  &[data-popper-placement^="top"] {
    transform-origin: left bottom;
  }
}
.#{$namespace}-fade-in-scale-up-enter-active {
  transform-origin: left top;
  transition:
    opacity 0.2s cubic-bezier(0, 0, 0.2, 1),
    transform 0.2s cubic-bezier(0, 0, 0.2, 1);
  &[data-popper-placement^="top"] {
    transform-origin: left bottom;
  }
}
.#{$namespace}-fade-in-scale-up-enter,
.#{$namespace}-fade-in-scale-up-exit-done {
  opacity: 0;
  transform: scale(0.9);
}
.#{$namespace}-fade-in-scale-up-exit,
.#{$namespace}-fade-in-scale-up-enter-done {
  opacity: 1;
  transform: scale(1);
}

/*
 * 折叠面板
 */
.#{$namespace}-collapse-transition-exit-active,
.#{$namespace}-collapse-transition-enter-active {
  transition:
    0.3s max-height ease-in-out,
    0.3s padding-top ease-in-out,
    0.3s padding-bottom ease-in-out;
}
